body {
  margin: 0;
}

#main {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: rgb(105, 242, 13) 0 3px;
  margin-bottom: 20px;
  border-style:double;
  border-width:4px;
  margin:auto;
  display:block;
  width:fit-content;
  background-image:url('rainbow.gif');
  border-color:red;
  padding: 50px;
  margin-top: 0;
  font-size: 40px;
  color:black;
}

.bake {
  color: black;
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: x-large;
  background-color: green;
  padding-bottom:15px;
}

#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.credits {
  color: white;
  text-align: center;
  display: block;
  border-width:3px;
  border-style:inset;
  border-color:greenyellow;
  display:block;
  margin:auto;
  margin-bottom:5px;  
  width:fit-content;
  background-color:black;
}


#menu {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  text-shadow: rgb(147, 190, 29) 0 2px;
}

.al{
  text-align:center;
  font-size:larger;
  color:white;
  text-shadow:rgb(255, 0, 0) 0 2px;
  padding-bottom:25px;

}

#secpa{
  background-color:teal;
}

#button{
  text-align:center;
  display:block;
  border-style:outset;
  border-width:3px;
  border-color:yellow;
  color:black;
  width:fit-content;
  margin:auto;
  margin-bottom:30px;
}

#index{
  background-image:url('sweets.jpg');
}

#sale{
  text-align:center;
  color:blue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tyree{
  text-align:center;
  color:green;
  font-size:larger;
  font-family:"Comic Sans MS", "Comic Sans", cursive;
  padding-bottom:15px;
}

#qr{
  display:block;
  margin-left:auto;
  margin-right:auto;
  
}