body{
    background-color:green;
}

#main{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    margin-bottom:20px;
}

#info{
    color:yellow;
}
